@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,600&family=Smooch&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding-left: 0rem;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

dl,
ol,
ul {
  margin-bottom: 0rem !important;
}

a {
  text-decoration: none !important;
}

ul > li {
  list-style-type: none !important;
}

ol,
ul {
  padding-left: 0rem !important;
}

@font-face {
  font-family: "Amalfi Coast";
  src: url("../../public/fonts/Amalfi-Coast.woff") format("woff2"), url("../../public/fonts/Amalfi-Coast.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monera Calm";
  src: url("../../public/fonts/MoneraCalm.woff2") format("woff2"), url("../../public/fonts/MoneraCalm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anybody";
  src: url("../../public/fonts/Anybody-Regular.woff2") format("woff2"), url("../../public/fonts/Anybody-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anybody";
  src: url("../../public/fonts/Anybody-Medium.woff2") format("woff2"), url("../../public/fonts/Anybody-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anybody";
  src: url("../../public/fonts/Anybody-SemiBold.woff2") format("woff2"), url("../../public/fonts/Anybody-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anybody";
  src: url("../../public/fonts/Anybody-ExtraLight.woff2") format("woff2"), url("../../public/fonts/Anybody-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-brown: #7a3910;
  --color-gray: #8e8e8e;
  --color-gray-footer: #f7f7f7;
  --color-dark-gray: #5e5e5e;
  --color-white: #fff;
  --color-gray-light: #f3f0f0;
  --color-gray-2: #c3c4c5;
  --color-black: #000;
  --color-yellow: #e1c167;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Playfair Display", sans-serif !important;
  color: var(--white);
  background-color: var(--white);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

.error {
  color: red;
}

.Toastify__toast-container--top-right {
  top: inherit !important;
  bottom: 4em;
}
/*# sourceMappingURL=index.css.map */