@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";
.banner {
    z-index: 99;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.699);
        z-index: -1;
    }
    h1 {
        font-weight: 500;
        font-size: 3rem;
        color: var(--color-white);
        margin-bottom: 3rem !important;
        @media screen and (max-width:1024px) {
            font-size: 2rem;
        }
        @include breakpoint(lg){
            font-size: 1.5rem;
        }
      
    }
}
