.banner {
    z-index: 99;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.274);
        z-index: -1;
    }
    h1 {
        font-weight: 500;
        font-size: 3rem;
        color: var(--color-white);
    }
}
